@model IEnumerable<MVC02.Models.App>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ITIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abbr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updateDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updateUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ITIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abbr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updateDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updateUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
